<?xml version="1.0" encoding="utf-8"?>

<config>
	<fieldset
		name="dossier"
		label="COM_REPLICATION_CONFIG_DOSSIER_SETTINGS_LABEL"
		description="COM_REPLICATION_CONFIG_DOSSIER_SETTINGS_DESC"
	>

		<field
			name="url_source"
			type="text"
			default="/root/joomla folder"
			label="COM_REPLICATION_XML_PATH_SOURCE_LABEL"
			description="COM_REPLICATION_XML_PATH_SOURCE_DESC"
			required="true"
			size="40"
		/>
	
		<field
			name="url_destination"
			type="text"
			default="/root/joomla folder"
			label="COM_REPLICATION_XML_PATH_DESTINATION_LABEL"
			description="COM_REPLICATION_XML_PATH_DESTINATION_DESC"
			required="true"
			size="40"
		/>

		<field
			name="exclusion"
			type="textarea"
			default="configuration.php;  
administrator/cache/**;  
tmp/**;                                           
.DS_Store;                                       
installation;                                    
+*/cache/**;                                     
-cache/*                                   
			 "
			rows="12" 
			cols="50"
			label="COM_REPLICATION_XML_EXCLUSION_CONTENU_LABEL"
			description="COM_REPLICATION_XML_EXCLUSION_CONTENU_DESC"
		/>
		
		<!--
		<field
			name="inclusion"
			type="textarea"
			default=""
			rows="12" 
			cols="50"
			label="COM_REPLICATION_XML_INCLUSION_CONTENU_LABEL"
			description="COM_REPLICATION_XML_INCLUSION_CONTENU_DESC"
		/>
		-->
		<field name="nbreplic" type="hidden" default="0" />
		<field name="pathbackups" type="hidden" default="./backups/" />
		<field name="namelog" type="hidden" default="replication.log" />
		<field name="rs_logfile" type="hidden" default="./backups/rsync-log.txt" />

    </fieldset>

	<fieldset
		name="basesource"
		label="COM_REPLICATION_XML_SOURCE"
		description="COM_REPLICATION_CONFIG_BASE_SETTINGS_DESC"
	>
		<field
			name="base_source"
			type="text"
			default="joom_ppr"
			label="COM_REPLICATION_XML_BASE_SOURCE_LABEL"
			description="COM_REPLICATION_XML_BASE_SOURCE_DESC"
			required="true"
			size="40"
			/>

		<field
			name="host_source"
			type="text"
			default="joom_ppr"
			label="COM_REPLICATION_XML_HOST_SOURCE_LABEL"
			description="COM_REPLICATION_XML_HOST_SOURCE_DESC"
			required="true"
			size="40"
			/>

		<field
			name="login_source"
			type="text"
			default="root"
			label="COM_REPLICATION_XML_LOGIN_SOURCE_LABEL"
			description="COM_REPLICATION_XML_LOGIN_SOURCE_DESC"
			required="true"
			size="40"
			/>

		<field
			name="pass_source"
			type="password"
			default=""
			label="COM_REPLICATION_XML_PASS_SOURCE_LABEL"
			description="COM_REPLICATION_XML_PASS_SOURCE_DESC"
			size="40"
			/>


		<field
			name="prefix_source"
			type="text"
			default="jos_"
			label="COM_REPLICATION_XML_PREFIX_SOURCE_LABEL"
			description="COM_REPLICATION_XML_PREFIX_SOURCE_DESC"
			/>
	</fieldset>
	<fieldset
		name="basedestination"
		label="COM_REPLICATION_XML_DESTINATION"
		description="COM_REPLICATION_CONFIG_BASE_SETTINGS_DESC"
	>
		
		
		
		<field
			name="base_destination"
			type="text"
			default="joom_ppr"
			label="COM_REPLICATION_XML_BASE_DESTINATION_LABEL"
			description="COM_REPLICATION_XML_BASE_DESTINATION_DESC"
			required="true"
			size="40"
			/>

		<field
			name="host_destination"
			type="text"
			default="joom_www"
			label="COM_REPLICATION_XML_HOST_DESTINATION_LABEL"
			description="COM_REPLICATION_XML_HOST_DESTINATION_DESC"
			required="true"
			size="40"
			/>

		<field
			name="login_destination"
			type="text"
			default="root"
			label="COM_REPLICATION_XML_LOGIN_DESTINATION_LABEL"
			description="COM_REPLICATION_XML_LOGIN_DESTINATION_DESC"
			required="true"
			size="40"
			/>

		<field
			name="pass_destination"
			type="password"
			default=""
			label="COM_REPLICATION_XML_PASS_DESTINATION_LABEL"
			description="COM_REPLICATION_XML_PASS_DESTINATION_DESC"
			size="40"
			/>

		<field
			name="prefix_destination"
			type="text"
			default="jos_"
			label="COM_REPLICATION_XML_PREFIX_DESTINATION_LABEL"
			description="COM_REPLICATION_XML_PREFIX_DESTINATION_DESC"
			/>

		
	</fieldset>
	
	<fieldset
		name="rsync"
		label="COM_REPLICATION_CONFIG_RSYNC_SETTINGS_LABEL"
		description="COM_REPLICATION_CONFIG_RSYNC_SETTINGS_DESC"
	>
		<field
			name="rs_option"
			type="text"
			default=" -az  --verbose  --delete "
			label="COM_REPLICATION_XML_OPTION_LABEL"
			description="COM_REPLICATION_XML_OPTION_DESC"
			size="40"
		/>

		<!--
			<field
			name="utiliser_fichier"
			type="radio"
			label="COM_REPLICATION_XML_FICHIER_EXCLUSION_LABEL"
			description="COM_REPLICATION_XML_FICHIER_EXCLUSION_DESC"
			default="0"
		>
        	<option value="0">JNO</option>
        	<option value="1">JYES</option>
        </field>
		-->
		<field
			name="rs_log"
			type="radio"
			label="COM_REPLICATION_XML_LOG_LABEL"
			description="COM_REPLICATION_XML_LOG_DESC"
			default="0"
			class="btn-group"
		>
        	<option value="0" class="no">JNO</option>
        	<option value="1" class="yes">JYES</option>
        </field>
		<field
			name="rs_newlog"
			type="radio"
			label="COM_REPLICATION_XML_NEWLOG_LABEL"
			description="COM_REPLICATION_XML_NEWLOG_DESC"
			default="0"
			class="btn-group"
		>
        	<option value="0" class="no">JNO</option>
        	<option value="1" class="yes">JYES</option>
        </field>
		<field
			name="rs_progress"
			type="radio"
			label="COM_REPLICATION_XML_PROGRESS_LABEL"
			description="COM_REPLICATION_XML_PROGRESS_DESC"
			default="0"
			class="btn-group"
		>
        	<option value="0" class="no">JNO</option>
        	<option value="1" class="yes">JYES</option>
        </field>
		<field
			name="rs_stats"
			type="radio"
			label="COM_REPLICATION_XML_STATS_LABEL"
			description="COM_REPLICATION_XML_STATS_DESC"
			default="0"
			class="btn-group"
		>
        	<option value="0" class="no">JNO</option>
        	<option value="1" class="yes">JYES</option>
        </field>
		<field
			name="rs_exclusion"
			type="text"
			default="exclusion.txt"
			size="40"
			label="COM_REPLICATION_XML_EXCLUSION_LABEL"
			description="COM_REPLICATION_XML_EXCLUSION_DESC"
			required="true"
		/>
		<!--
		<field
			name="rs_inclusion"
			type="text"
			default="include.txt"
			size="40"
			label="COM_REPLICATION_XML_INCLUDE_LABEL"
			description="COM_REPLICATION_XML_INCLUDE_DESC"
			required="true"
		/>
		-->
<field name="test" type="spacer" label="COM_REPLICATION_XML_SSH_TITRE"
			 /> 
		<field
			name="rs_ssh"
			type="radio"
			label="COM_REPLICATION_XML_SSH_LABEL"
			description="COM_REPLICATION_XML_SSH_DESC"
			default="0"
			class="btn-group"
		>
        	<option value="0" class="no">JNO</option>
        	<option value="1" class="yes">JYES</option>
        </field>

		<field
			name="rs_userssh"
			type="text"
			default="login@serveur.principal.fr"
			size="40"
			label="COM_REPLICATION_XML_USERSSH_LABEL"
			description="COM_REPLICATION_XML_USERSSH_DESC"
		/>

		<field
			name="rs_portssh"
			type="text"
			default="22"
			size="40"
			label="COM_REPLICATION_XML_PORTSSH_LABEL"
			description="COM_REPLICATION_XML_PORTSSH_DESC"
		/>

		<field
			name="rs_filepassssh"
			type="text"
			default="~/votre_login/.ssh/id_dsa.pub"
			size="40"
			label="COM_REPLICATION_XML_PASSSSH_LABEL"
			description="COM_REPLICATION_XML_PASSSSH_DESC"
		/>

		
	</fieldset>
    
	
	<fieldset
		name="permissions"
		label="JCONFIG_PERMISSIONS_LABEL"
		description="JCONFIG_PERMISSIONS_DESC"
	>
		<field
			name="rules"
			type="rules"
			label="JCONFIG_PERMISSIONS_LABEL"
			class="inputbox"
			validate="rules"
			filter="rules"
			component="com_replication"
			section="component"
		/>
	</fieldset>
</config>